footer {
    background-color: $gray-background;

    .footer-blocks {
        //display: inline-block;
        width: 180px;
        padding-top: 3em;


        a {
            font-size: 1.8em;
            border: none;
        }

        p {
            padding-top: 0.5em;
            font-size: 1.2em;
        }

        ul {
            li {
                font-size: 2.8em;
                display: inline-block;
                padding: 0 .2em;
            }
        }
    }
}

@media only screen and (min-width: 500px) {
    footer {
        .footer-blocks {
            vertical-align: top;
            display: inline-block;
            margin: 0 calc(((100% - (184px * 2))/4);
        }
    }
}

@media only screen and (min-width: 800px) {
    footer {
        .footer-blocks {
            vertical-align: top;
            display: inline-block;
            margin: 0 calc(((100% - (184px * 4))/8);

        }
    }
}
