.hero {
    position: relative;
    height: calc(100vh - 66px);
    // height: 100%;
    background-color: #000;
    background-image:
        url(../assets/hero-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    h2 {
        position: absolute;
        text-align: center;
        width: auto;
        top: 5%;
        left: 0;
        margin: 0 calc((100vw - 250px)/2);
        font-size: 4em;

    }

    p {
        position: absolute;
        font-size: 1.8em;
        //text-align: justify;
        top: 30%;
        left: 0;
        width: 60%;
        margin: 0 20%;
    }

    a {
        position: absolute;
        top: 70%;
        left: 0;
        width: auto;
        margin: 0 calc((100vw - 114px)/2);
    }

}

.singer img {
    position: absolute;

    float: left;
    left: 0;
    top: 0;
    height: 100%;
    width: 95%;
    margin: 0 2.5%;

    transition: .25s ease-in;
}

.singer img:nth-child(2) {
    display: none;
}

.blue {
    color: $light-blue;
}

@media only screen
and (min-device-width: $iphone6-width)
and (max-device-width: $iphone6plus-width) and (orientation : portrait) {
    .hero {
        h2 {
            font-size: 4.8em;
            margin: 0 calc((100vw - 300px)/2);
        }

        p {
            font-size: 2.0em;
        }
    }
}

@media only screen
and (min-device-width: $iphone4-width)
and (min-device-height: $iphone4-height) and (orientation : portrait) {
    .hero {
        p {
            top: 28%;
        }
    }
}

@media only screen and (min-width: 700px) {
    .hero {
        h2 {
            font-size: 7.3em;
            margin: 0 calc((100vw - 500px)/2);
        }

        p {
            top: 35%;
            font-size: 2.8em;
            width: 50%;
            margin: 0 25%;
        }

        a {
            font-size: 2.8em;
            margin: 0 calc((100vw - 200px)/2)
        }
    }
}

@media only screen and (min-width: 960px) {
    .hero {

        h2, p {
            position: static;
            display: block;
            text-align: left;
            width: 450px;
            margin: 0;
            padding: 0.5em 30px;
            top: auto;
            transition: .25s ease-in;
        }

        p {
            width: 300px;
            font-size: 1.8em;
            transition: .25s ease-in;
        }

        a {
            position: static;
            display: inline-block;
            float: left;
            font-size: 1.8em;
            padding-top: 1em;
            margin-left: 30px;
            transition: .25s ease-in;
        }

    }

    .singer .cute-icons {
        content:url(../assets/cute-icons.svg);
    }

    .singer img {
        float: right;
        width: auto;
        left: auto;
        margin: auto;
        right: 30px;
        transition: .25s ease-in;
    }

    .singer img:nth-child(2) {
        display: inherit;
    }
}
