.location {
    background:
        url(../assets/gray-overlay-background.svg),
        url(../assets/rock-box.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center left;
    background-size: cover, cover;

    padding-bottom: 6em;

    h2 {
        width: 70%;
        padding: 1em 0;
    }

    p {
        width: 80%;
        padding-bottom: 1.4em;
    }
}
