.location {
    background:
        url(../assets/gray-overlay-background.svg),
        url(../assets/rock-box.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center left;
    background-size: cover, cover;

    padding-bottom: 6em;

    h2 {
        width: 70%;
        padding: 1em 0;
    }

    p {
        width: 80%;
        padding-bottom: 1.4em;
    }


}


@media only screen and (min-width: 445px) {
    .location {
        h2 {
            width: 400px;
        }

        p {
            width: 300px;
        }
    }
}

@media only screen and (min-width: 700px) {
    .location {
        h2, p, a {
            margin-left: 5%;
        }
    }
}

@media only screen and (min-width: 800px) {
    .location {
        h2, p, a {
            margin-left: calc(((100vw - 50px) - (180px * 4))/8);

        }
    }
}
