nav {

    .nav-bar {
        padding: 0 2em;
        position: relative;
        height: 66px;
        display: block;
        background-color: #000;
        overflow: hidden;

        transition: .25s ease-in;

        h1 {
            display: inline-block;

            img {
                position: absolute;
                float: left;
                // left: 1.2em;
                width: 150px;
                height: auto;
                top: vertical-spacing(66px, 22.5px);
                z-index: 4;

            }
        }

        .nav-links {
            position: fixed;
            width: 100%;
            height: 0;
            right: 0;
            left: 0;
            top: 0;
            background: #000;
            z-index: -1;

            transition: .25s ease-in;

            ul {
                padding-top: 70px;

                li {
                    font-size: 1.8em;
                    text-align: center;
                    padding: 0.5em 0;
                    color: #fff;

                    a {
                        font-size: 1.0em;
                        border: none;
                    }

                }

                li:hover {
                    background-color: $hot-pink;
                }

            }
        }

        .nav-links.popup {
            height: 100vh;
            position: fixed;
            z-index: 2;

            transition: all 0.25s ease-in-out;
            -webkit-transition: all 0.25s ease-in-out;
            -moz-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
        }


        #nav-icon {
            display: inline-block;
            position: absolute;
            right: 2em;
            width: 20px;
            height: 53px;
            cursor: pointer;
            z-index: 4;

            transition: margin-right .5s;
            transform: rotate(0deg);

            span {
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                background: #fff;
                left: 0;

                transform: rotate(0deg);
                transition: .25s ease-in-out;
            }

            span:nth-child(1) {
                top: 26px;
            }

            span:nth-child(2), span:nth-child(3) {
                top: 32px;
            }

            span:nth-child(4) {
                top: 38px;
            }
        }

        #nav-icon.open {
            z-index: 4;

            span:nth-child(1) {
                top: 32px;
                width: 0%;
                left: 50%;
            }

            span:nth-child(2) {
                transform: rotate(45deg);
            }

            span:nth-child(3) {
                transform: rotate(-45deg);
            }

            span:nth-child(4) {
                top: 32px;
                width: 0%;
                left: 50%;
            }
        }
    }

}



@media only screen and (min-width: 898px) {
    nav {
        .nav-bar {
            // display: inline-block;

            h1 {
                width: 150px;
                height: 66px;
            }

            .nav-links {
                display: inline-block;
                position: absolute;
                text-align: center;
                opacity: 1;
                top: vertical-spacing(66px, 36px);
                width: calc(100vw - 154px);
                height: auto;
                left: auto;
                right: auto;
                z-index: 5;

                ul {
                    padding: 0;
                    li {
                        display: inline-block;
                        padding: 0.5em;
                    }

                }
            }

            #nav-icon {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: 960px) {
    nav {
        .nav-bar {
            padding: 0 50px;

            h1 {

            }

            .nav-links {
                width: calc(100vw - 204px);

                ul li {
                    padding: 0.5em 1em;
                }
            }
        }

    }
}
