.rooms {
    background: url(../assets/room-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;

    h2 {
        padding: 2em 0;
    }

    p {
        text-align: center;
        padding-bottom: 10em;
        width: 100%;
        margin: 0;
    }
}

@media only screen and (min-width: $iphone6plus-width) {
    .rooms {
        p {
            width: 80%;
            margin: 0 10%;
        }
    }
}

@media only screen and (min-width: 960px) {
    .rooms {
        p {
            width: 60%;
            margin: 0 20%;
        }
    }
}
