.songs {
    background-color: #000;
    background-image:
        url(../assets/hero-background.svg);
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 6em;
    text-align: center;

    .female-singer img {
        display: none
    }

    h2 {
        padding-top: 1em;
    }

    p {
        font-size: 1.8em;
        padding: 1.5em 1em;
    }
}

@media only screen and (min-width: 800px) {
    .songs {

        p {
            width: 65%;
            margin: 0 17.5%;
        }
    }
}

@media only screen and (min-width: 960px) {
    .songs {
        position: relative;
        text-align: left;

        h2, p, a {
            margin-left: 50%;
            padding-left: 0;

        }
        h2 {
            font-size: 4.0em;
            width: 30%;
        }

        p {
            width: 40%;
        }


        .female-singer img {
            position: absolute;
            display: inline;
            float: left;
            left: 15%;
            height: 100%;
            width: auto;
        }
    }
}
