.songs {
    background-color: #000;
    background-image:
        url(../assets/hero-background.svg);
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 6em;
    text-align: center;

    h2 {
        padding-top: 1em;
    }

    p {
        font-size: 1.8em;
        padding: 1.5em 1em;
    }
}
