body {
    font-family: "Arial", sans-serif;
}

h2, a {
    text-transform: uppercase;
}

h2 {
    font-size: 3.0em;
}

h3 {
    font-size: 1.4em;
    padding-bottom: 0.5em;
    border-bottom: 5px solid $hot-pink;
}

p {
    font-size: 1.8em;
}

table {
    font-size: 1.8em;
}
